logging:
  config: classpath:logback.xml

security:
  filter-order: 5

debug: false

# security.basic.enabled=false
# management.security.enabled=false

spring:
  datasource:
    url: jdbc:mariadb://192.168.56.11:3306/CHIWOOSAMPLES
    username: aider
    password: aider1234
    driver-class-name: org.mariadb.jdbc.Driver

# REDIS (RedisProperties)
  redis:
    database: 0
    host: 192.168.56.11
    password: root1234
    # url: redis://user:password@example.com:6379
    port: 6379
    pool:
      max-active: 8
      max-idle: 8
      max-wait: -1
      min-idle: 0

mybatis:
    type-aliases-package: org.chiwooplatform.mybatis.model,org.chiwooplatform.simple.model.com
    type-handlers-package: org.chiwooplatform.mybatis.handler
    mapper-locations: classpath*:sql/mariadb/*.xml
    configuration:
        map-underscore-to-camel-case: true
        default-fetch-size: 100
        default-statement-timeout: 30
        auto-mapping-behavior: partial
        auto-mapping-unknown-column-behavior: warning


---
spring:
  profiles: dev
  datasource:
    url: jdbc:mariadb://52.79.153.83:3306/CHIWOOSAMPLES
    username: aider
    password: aider1234
    driver-class-name: org.mariadb.jdbc.Driver

# REDIS (RedisProperties)
  redis:
    database: 0
    host: 52.79.153.83
    password: root1234
    # url: redis://user:password@example.com:6379
    port: 6379
    pool:
      max-active: 8
      max-idle: 8
      max-wait: -1
      min-idle: 0  

logging:
  config: classpath:logback-dev.xml


---
spring:
  profiles: stage
logging:
  config: classpath:logback-stage.xml


---
spring:
  profiles: prod
logging:
  config: classpath:logback-prod.xml

